# dependencies
node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
dist
dist-ssr

# misc
.DS_Store
*.local
*.tsbuildinfo
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# test output
/playwright-report/
/test-results/
/blob-report/
/playwright/.cache/
/coverage/

# editor
.vscode/*
!.vscode/extensions.json
